.page {
  background-color: #27354b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.page-box {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Effetto ombra per maggiore rilievo */
}

.page-content {
  width: 100%;
  max-width: 800px;
  color: #000000;
}

.page-content-data {
  background-color: #35475d;
  padding: 20px;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;

  h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #ffffff;
  }

  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .search-input-container {
      display: flex;
      flex: 1;
      align-items: center;
    }

    .search-input {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #ffffff;
      color: #1e293b;
    }

    .search-button-container {
      margin-left: 10px;
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .btn-class {
      background-color: #1e293b;
      color: #ffffff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #35475d;
      }
    }

    .cancel-button {
      background-color: #a31f1f; /* Colore rosso per il pulsante Annulla */
      &:hover {
        background-color: #ff3f3f; /* Cambia colore al passaggio del mouse */
      }
    }
  }

  .polimero-details {
    background-color: #495d7e;
    margin-top: 20px;
    color: #000000;

    mat-card.polimero-inner-card {
      background-color: #617793;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    }

    h3 {
      font-size: 24px;
      color: #ffffff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    mat-card-content {
      padding: 20px;
    }

    mat-card-actions {
      justify-content: flex-end;
      margin-top: 20px;

      button {
        margin-left: 10px;
      }
    }

    .elementi-ol {
      list-style-type: disc;
      padding-left: 20px;

      .elementi-li {
        cursor: pointer;
        margin-bottom: 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .polimeri-list-container {
    margin-top: 20px;

    h3 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #ffffff;
    }

    .polimeri-ol {
      list-style-type: decimal;
      padding-left: 20px;

      .polimeri-li {
        cursor: pointer;
        margin-bottom: 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .createPolimeriDiv,
  .deletePolimeriDiv {
    mat-card {
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    }

    mat-card-header {
      background-color: #1e293b;
      color: #ffffff;
    }

    mat-card-title {
      font-size: 24px;
      color: #ffffff;
    }

    mat-card-content {
      h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: black;
      }
      padding: 20px;
    }

    mat-card-actions {
      justify-content: flex-end;
      margin-top: 20px;

      button {
        margin-left: 10px;
      }
    }
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300 px, 1fr)); /* Modifica il valore minimo */
    grid-gap: 15px;
  }

  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
      color: white;
    }

    button.toggle-max {
      background-color: transparent;
      border: none;
      color: #666;
      font-size: 18px;
      cursor: pointer;
      padding: 5px 10px; /* Aggiunti padding orizzontale e verticale per rendere il pulsante rettangolare */
      margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px; /* Modificato il raggio del bordo per renderlo rettangolare */
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #666;
        color: #ffffff;
      }
    }

    .input-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;

      mat-form-field {
        width: 50%; /* Larghezza del campo input principale */
        flex: 1;
      }

      ::ng-deep mat-select {
        width: 100%; /* Larghezza del selettore di unità di misura */
        border: 2px black;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); /* Aggiunto effetto box-shadow per evidenziare la casella */
        margin-left: 10px;
      }

      .unita-di-misura-container {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
        margin-left: 10px;
       }

      .unita-di-misura-label {
        font-size: 18px;
        color: black;
        margin-bottom: 60px; /* Aggiunto margine inferiore per separare la scritta dal selettore */
        margin-top: -65px; /* Aggiunto margine superiore per spostare l'elemento più in alto */
        margin-left: 10px;
      }
    }

    .mat-form-field-max {
      display: flex;
      align-items: center;
      height: 75px; /* Aggiungi un'altezza fissa alle caselle del valore massimo */
    }

    .range-divider {
      font-size: 18px;
      margin: 0 10px;
      color: black;
    }

    input.short-input {
      width: 100px;
    }

    .delete-icon {
      color: black; // Cambia il colore desiderato per l'icona di eliminazione
    }
  }

  .compatibilita-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 15px;

    li {
      margin-bottom: 5px;
    }
  }

  .filter-form {
    background-color: #35475d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    color: #ffffff;

    h3 {
      font-size: 24px;
      margin-bottom: 15px;
      color: #ffffff;
    }

    .filter-criteria {
      background-color: #1e293b;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      display: flex;
      align-items: center;

      .filter-input {
        flex: 1;
        margin-right: 10px;

        mat-label {
          color: black;
        }

        select,
        input {
          width: 100%;
          padding: 10px;
          border: none;
          border-radius: 5px;
          background-color: #ffffff;
          color: #1e293b;
        }
      }

      .add-criteria-button {
        background-color: #35475d;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #1e293b;
        }
      }
    }

    .filter-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center; /* Aggiunto allineamento verticale */
      margin-top: 15px; /* Spazio sopra i pulsanti */

      .btn-class {
        background-color: #1e293b;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #35475d;
        }
      }

      .cancel-button {
        background-color: #a31f1f;

        &:hover {
          background-color: #ff3f3f;
        }
      }
    }

    .filter-error {
      color: #ff0000;
    }
  }


  .rinforzo-details {
    background-color: rgba(178, 0, 0, 0.55);
    margin-top: 20px;
    color: #000000;

    mat-card.rinforzo-inner-card {
      background-color: rgb(98, 49, 49);
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    }

    h3 {
      font-size: 24px;
      color: #ffffff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    mat-card-content {
      padding: 20px;
    }

    mat-card-actions {
      justify-content: flex-end;
      margin-top: 20px;

      button {
        margin-left: 10px;
      }
    }
  }
  .additivo-details {
    background-color: #6d7bb4;
    margin-top: 20px;
    color: #000000;

    mat-card.additivo-inner-card {
      background-color: #8493c5;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    }

    h3 {
      font-size: 24px;
      color: #ffffff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    mat-card-content {
      padding: 20px;
    }

    mat-card-actions {
      justify-content: flex-end;
      margin-top: 20px;

      button {
        margin-left: 10px;
      }
    }

    .elementi-ol {
      list-style-type: disc;
      padding-left: 20px;

      .elementi-li {
        cursor: pointer;
        margin-bottom: 5px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
