<div class="container">
  <div class="back-button" (click)="goBackToMainPage()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Login</h1>
          <h6>Inserisci il tuo username e la tua password</h6>
        </div>
        <form [formGroup]="loginForm">
          <div class="mb-3">
            <label for="exampleInputUsername" class="form-label">Username</label>
            <input formControlName="username" type="text" class="form-control" id="exampleInputUsername">
            <span class="text-danger" *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required', 'username')">*Username richiesto</span>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword" class="form-label">Password</label>
            <input formControlName="password" type="password" formControlName="password" class="form-control" id="exampleInputPassword">
            <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">*Password richiesta</span>
          </div>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()" [disabled]="loginForm.invalid">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>
